body {
  /* background: #cabbff; */
  margin: 0;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #ddd;
}

button {
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 1em;
  color: #ddd;
  width: 100%;
  height: 100%;
  display: block;
  white-space: nowrap;
}

button:focus {
  outline: none;
}

li {
  list-style-type: none;

}

ul {
  margin: 0;
  padding: 0;
}

.tabs {
  max-width: 1088px;
  background: #9160be;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.tabs .primary {
  display: flex;
}

.tabs .primary > li {
  flex-grow: 1;
  text-align: center;
  padding: 0.8em 1.5em;
  border-bottom: 2px solid #7b4ea5;
}

.tabs .primary li:hover {
  background: #7b4ea5
}

.tabs .primary > li:not(:last-child) {
  border-right: 2px solid #7b4ea5;
}

/* account for lack of js enabling */
.tabs:not(.jsfied) {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tabs .more {
  background: #7b4ea5;
  cursor: pointer;
}

.tabs .secondary > li {
  border-top: 2px solid #9160be;
  border-left: 2px solid #9160be;
  background: #7b4ea5;
  padding: 0.8em 1.75em;
  text-align: center;
}

.tabs .secondary > li:hover {
  background: #9160be;
}

.tabs .secondary {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
}

.show-secondary .secondary {
  display: block;
}

.tabs .hidden {
  display: none;
}

